{% extends "base.html" %}
{% block content %}
  <h1>Hallinta</h1>
	  {% if 'Virhe:' in message %}
	<div class="alert alert-danger">
	  <ul>
		  <li>{{message}}</li>
	  </ul>
	</div>
	{% elseif message !='' %}

	<div class="alert alert-success">
	  <ul>
			<li>{{message}}</li>
		</ul>
	</div>
						
	{% endif %}
  <p>
    <a href="#" class="btn btn-success" onclick="window.location.href = '{{base_path}}/ehdotus'">Ehdota drinkkiä</a>  
    <input class="btn btn-success" value="Tyhjennä haku" type="button" onclick="window.location.href = '{{base_path}}/drinkkilistaus'">
    <input class="btn btn-success" value="Hae" type="button" onclick="window.location.href = '{{base_path}}/drinkkilistaus?srch='+ document.getElementById('hakukentta').value;">
  </p>

  <div class="form-group">
      <label>Hakusana</label>
      <input class="form-control" value="" type="text" id="hakukentta">
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Ainesosat</th>
        <th>Luontipäivä</th>
        <th>Lisääjä</th>
        <th></th>
		<th></th>
		<th></th>
      </tr>
    </thead>
{% if srch %}
    <tbody>
      {% for drink in drinks %}
      
      {% if drink.name in srch %}
      <tr>
        <td><a href="{{base_path}}/tarkastelu/{{drink.drink_id}}">{{drink.name}}</a></td>
        <td>{% for ingredient in ingredients %} 
          {% if ingredient.drink_id == drink.drink_id %}
              {{ingredient.ingrd_name}} 
          {% endif %}
        {% endfor %}
        </td>
        <td>{{drink.created}}</td>
        <td>{% for Usraccount in Usraccounts %}
         {% if Usraccount.usr_id == drink.usr_id %}
              {{Usraccount.usr_name}} 
          {% endif %}
        {% endfor %}</td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/muokkaus/{{drink.drink_id}}">Muokkaa</a></th>
      </tr>
      {% endif %}
      
      {% endfor %}
    </tbody>
{% else %}
    <tbody>
      {% for drink in drinks %}
      
      <tr>
        <td><a href="{{base_path}}/tarkastelu/{{drink.drink_id}}">{{drink.name}}</a></td>
        <td>{% for ingredient in ingredients %} 
          {% if ingredient.drink_id == drink.drink_id %}
              {{ingredient.ingrd_name}} 
          {% endif %}
        {% endfor %}
        </td>
        <td>{{drink.created}}</td>
        <td>{% for Usraccount in Usraccounts %}
         {% if Usraccount.usr_id == drink.usr_id %}
              {{Usraccount.usr_name}} 
          {% endif %}
        {% endfor %}</td>
        
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/muokkaus/{{drink.drink_id}}">Muokkaa</a></th>
		<th><a class="btn btn-default btn-sm" href="{{base_path}}/poistad/{{drink.drink_id}}">Poista</a></th>
		{% if drink.approved == false %}
			<th><a class="btn btn-default btn-sm" href="{{base_path}}/hyvaksy/{{drink.drink_id}}">Hyväksy</a></th>
		{% endif %}
      </tr>
      
      {% endfor %}
    </tbody>
{% endif %}
 </table>
  <h1> Käyttäjät </h1>
 <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nimi</th>
        <th>Ylläpitäjä</th>
        <th></th>
        
      </tr>
    </thead>
	<tbody>
		{% for Usraccount in Usraccounts %}
		<tr>
			<td>{{Usraccount.usr_id}}</td>
			<td>{{Usraccount.usr_name}}</td>
			<td>{{Usraccount.isadm}}</td>
			<td><a class="btn btn-default btn-sm" href="{{base_path}}/poistau/{{Usraccount.usr_id}}">Poista</a></td>
		</tr>
		{% endfor %}
	</tbody>
 </table>
 
 {% endblock %}
