{% extends "base.html" %}
{% block content %}
  <h1>Suosikit</h1>
    {% if 'Virhe:' in message %}
	<div class="alert alert-danger">
	  <ul>
		  <li>{{message}}</li>
	  </ul>
	</div>
	{% elseif message !='' %}

	<div class="alert alert-success">
	  <ul>
			<li>{{message}}</li>
		</ul>
	</div>
						
	{% endif %}
  <p> 
    <input class="btn btn-success" value="Tyhjennä rajaukset" type="button" onclick="window.location.href = '{{base_path}}/suosikit'">
    <input class="btn btn-success" value="Hae" type="button" onclick="window.location.href = '{{base_path}}/suosikit?srch='+ document.getElementById('hakukentta').value;">
    
  </p>

  <div class="form-group">
      <label>Hakusana</label>
      <input class="form-control" value="" type="text" id="hakukentta">
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        
        <th>Nimi</th>
        <th>Ainesosat</th>
        <th>Luontipäivä</th>
        <th>Lisääjä</th>
        <th></th>
      </tr>
    </thead>
{% if srch %}
    <tbody>
      {% for drink in drinks %}
	  {% for followed in followeds %}
		{%if drink.drink_id == followed.followed_id %}
      {% if drink.approved == true %}
      {% if drink.name in srch %}
      <tr>
        
        <td><a href="{{base_path}}/tarkastelu/{{drink.drink_id}}">{{drink.name}}</a></td>
        <td>{% for ingredient in ingredients %} 
          {% if ingredient.drink_id == drink.drink_id %}
              {{ingredient.ingrd_name}} 
          {% endif %}
        {% endfor %}
        </td>
        <td>{{drink.created}}</td>
        <td>{% for Usraccount in Usraccounts %}
         {% if Usraccount.usr_id == drink.usr_id %}
              {{Usraccount.usr_name}} 
          {% endif %}
        {% endfor %}</td>
        {% if (drink.usr_id == curusr.usr_id or curusr.isadm == true) %}
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/muokkaus/{{drink.drink_id}}">Muokkaa</a></th>
        {% endif %}
      </tr>
      {% endif %}
      {% endif %}
	  {%endif%}
	  {%endfor%}
      {% endfor %}
    </tbody>
{% else %}
    <tbody>
      {% for drink in drinks %}
	  {% for followed in followeds %}
		{%if drink.drink_id == followed.followed_id %}
      {% if drink.approved == true %}
      <tr>
        <td><a href="{{base_path}}/tarkastelu/{{drink.drink_id}}">{{drink.name}}</a></td>
        <td>{% for ingredient in ingredients %} 
          {% if ingredient.drink_id == drink.drink_id %}
              {{ingredient.ingrd_name}} 
          {% endif %}
        {% endfor %}
        </td>
        <td>{{drink.created}}</td>
        <td>{% for Usraccount in Usraccounts %}
         {% if Usraccount.usr_id == drink.usr_id %}
              {{Usraccount.usr_name}} 
          {% endif %}
        {% endfor %}</td>
        {% if (drink.usr_id == curusr.usr_id or curusr.isadm == true) %}
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/muokkaus/{{drink.drink_id}}">Muokkaa</a></th>
        {% endif %}
      </tr>
      {% endif %}
	  {%endif%}
	  {%endfor%}
      {% endfor %}
    </tbody>
{% endif %}
  </table>

{% endblock %}
